.DS_Store
**/build/
**/classes/
*.class
# ide
.idea/
*.iml
.settings/
.project
.classpath
# gradle
.gradle/
# logs
**/logs/
*.log
# node
**/node_modules/
# codegen
## swagger
api/gensrc
# development
/gradle/
/model/out/
/admin/out/
/core/out/
/common/out/
